<div>
    <form>
      <fieldset class="infobox">
        <label for="name">
          <legend>Please enter a name for your Skill </legend>
        </label>
  
        <div class="columns">
           <div class="column">
        <input type="text" class="input input-shadow" id="name" width="400px" maxlength="32" minlength="3" required [(ngModel)]="skillNameAdd" name="skillNameAdd">
       </div>
       <div class="column is-narrow">
        <button type="button" class="button is-info is-outlined is-rounded" (click)="showSkills2()">OK</button>
        </div>
      </div>
        <label for="show">
          <legend>Or, select one of the options below</legend>
        </label>
  
        <div class="buttons">
        <button type="button" class="button is-warning is-outlined is-rounded" (click)="showMSkills()">Modify Skill</button>
        <button type="button" class="button is-danger is-outlined is-rounded" (click)="showDSkills()">Delete Skill</button>
        </div>
      </fieldset>
  
      <fieldset *ngIf="visibleSkills2" id="hideMe" class="infobox">
        <legend> Would you like to associate your new Skill with any of these Categories?</legend><br>
        
        <div class="columns">
          <div class="column">
            --Category List--
            <fieldset class="column borders boxcolumn is-6-desktop is-12-mobile">
              <ul class="showCategoryList">
                  <li *ngFor="let category of categoryList; let i = index">
                      <label class="categoryLabel" for="category_{{category.categoryId}}">
                          <input type="radio" id="category_{{category.categoryId}}" [value]="category" name="categoryList"
                              [(ngModel)]="selectedCategory" (change)="displayCategory()" />
                          {{ category.categoryName }}
                      </label>
                  </li>
              </ul>
          </fieldset>
        </div>
        <div class="column is-narrow">
        <!--<input type="checkbox" id="box" name="primary key" value="true">dummy-->
       </div>
       <div class="column is-narrow">
        <input type="submit" id="submit" class="button is-info is-outlined is-rounded" (click)="addSkill()" (click)="visualReset()" value="Add Skill"> 
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  
  <div>
    <form>
      <fieldset *ngIf="visibleMSkills" class="infobox">
        <label for="name">
          <legend>What skill do you want to modify? </legend>
        </label>
        <div class="columns">
          <div class="column">
            --Skill List--
            <fieldset class="column borders boxcolumn is-6-desktop is-12-mobile">
              <ul class="showSkillList">
                  <li *ngFor="let skill of skillList; let i = index">
                      <label class="skillLabel" for="skill_{{skill.skillId}}">
                          <input type="radio" id="skill_{{skill.skillId}}" [value]="skill" name="skillList"
                              [(ngModel)]="selectedSkill" (change)="displaySkill()" />
                          {{ skill.skillName }}
                      </label>
                  </li>
              </ul>
          </fieldset>
        </div>
        <!-- <input type="text" id="name" width="400px" maxlength="32" minlength="3" required> -->
        <div class="column is-narrow">
        <button type="button" class="button is-info is-outlined is-rounded" (click)="showMSkills2()">OK</button>
          </div>
        </div>
      </fieldset>
  
  
      <fieldset *ngIf="visibleMSkills2" id="hideMe" class="infobox">
        <legend> Would you like to associate your new Skill with any of these Categories?</legend><br>
  
        <div class="columns">
            <div class="column">
            --Category List--
            <fieldset class="column borders boxcolumn is-6-desktop is-12-mobile">
              <ul class="showCategoryList">
                  <li *ngFor="let category of categoryList; let i = index">
                      <label class="categoryLabel" for="category_{{category.categoryId}}">
                          <input type="radio" id="category_{{category.categoryId}}" [value]="category" name="categoryList"
                              [(ngModel)]="selectedCategory" (change)="displayCategory()" />
                          {{ category.categoryName }}
                      </label>
                  </li>
              </ul>
          </fieldset>
          </div>
        <!--<div class="column is-narrow"> 
        <input type="checkbox" id="box" name="primary key" value="true">dummy
        </div>-->
        <div class="column is-narrow">
        <input type="submit" id="submit" class="button is-info is-outlined is-rounded" (click)="visualReset()" (click)="updateSkill()" value="Add New Skill"> 
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  
  
  <div>
    <form>
      <fieldset *ngIf="visibleDSkills" class="infobox">
        <label for="name">
          <legend>What skill do you want to delete?</legend>
        </label>
        <!-- <input type="text" id="name" width="400px" maxlength="32" minlength="3" required> -->
  
        <div class="columns">
          <div class="column">
            --Skill List--
            <fieldset class="column borders boxcolumn is-6-desktop is-12-mobile">
              <ul class="showSkillList">
                  <li *ngFor="let skill of skillList; let i = index">
                      <label class="skillLabel" for="skill_{{skill.skillId}}">
                          <input type="radio" id="skill_{{skill.skillId}}" [value]="skill" name="skillList"
                              [(ngModel)]="selectedSkill" (change)="displaySkill()" />
                          {{ skill.skillName }}
                      </label>
                  </li>
              </ul>
          </fieldset>
          </div>
        <div class="column is-narrow">
        <button type="button" class="button is-info is-outlined is-rounded" (click)="showDSkills2()">OK</button>
          </div>
        </div>
      </fieldset>
  
  
      <fieldset *ngIf="visibleDSkills2" id="hideMe" class="infobox">
        <strong><label for="name">
          <legend>Are you sure you want to delete?</legend>
        </label></strong>
  
        <div class="buttons">
        <input type="submit" class="button is-danger is-outlined is-rounded" id="delete" value="Yes, delete" (click)="deleteSkill()">
        <input type="button" class="button is-warning is-outlined is-rounded" id="cancel" (click)="visualReset()"value="Cancel">
       </div>
      </fieldset>
    </form>
  </div>
  
  
  <div>
    <form>
      <fieldset *ngIf="visibleCatego" class="infobox"> 
        <label for="name">
          <legend>Please enter a name for a new Category </legend>
        </label>
        <div class="columns">
          <div class="column">
        <input type="text" class="input input-shadow" id="name" width="400px" maxlength="32" minlength="3" required [(ngModel)]="categoryNameAdd" name="categoryNameAdd">
      </div>
      <div class="column is-narrow">
        <input type="submit" id="submit" class="button is-info is-outlined is-rounded"  value="Add Category" (click)="addCategory()" > 
            </div>
          </div>
        </fieldset>
      </form>
    </div>

<!--  
<fieldset class="container is-fluid containerflex borders">
    <legend>Skill-Category</legend>
    <div class="columns columnheight row ">-->

        <!-- Skill-Edit-LIST -->
        <!--<fieldset class="column borders boxcolumn is-6-desktop is-12-mobile">
            <legend>Skill-Edit</legend>
            <ul class="showSkillList">
                <li *ngFor="let skill of skillList; let i = index">
                    <label class="skillLabel" for="skill_{{skill.skillId}}">
                        <input type="radio" id="skill_{{skill.skillId}}" [value]="skill" name="skillList"
                            [(ngModel)]="selectedSkill" (change)="displaySkill()" />
                        {{ skill.skillName }}
                    </label>
                </li>
            </ul>
        </fieldset>-->
        <!-- Skill-Edit-LIST -->

        <!-- Category-Edit-LIST -->
        <!--<fieldset class="column borders boxcolumn is-6-desktop is-12-mobile">
            <legend>Category-Edit</legend>
            <ul class="showCategoryList">
                <li *ngFor="let category of categoryList; let i = index">
                    <label class="categoryLabel" for="category_{{category.categoryId}}">
                        <input type="radio" id="category_{{category.categoryId}}" [value]="category" name="categoryList"
                            [(ngModel)]="selectedCategory" (change)="displayCategory()" />
                        {{ category.categoryName }}
                    </label>
                </li>
            </ul>
        </fieldset>-->
        <!-- Category-Edit-LIST 

    </div>
    <div class="row columns">-->

        <!-- SKILL EDIT BUTTONS 
        <div class="column">
            <div class="editbottom">
                Skill Edit
                <div class="columns">
                    <div class="column">
                        <div class="buttons">
                            <button id="addSkillButton" class="button is-small btn-add" [ngClass]="showAddSkill? 'is-active' : ''" (click)="toggleAddSkill()">Add Skill</button>
                            <button class="button is-small btn-update" [ngClass]="showUpdateSkill? 'is-active' : ''" (click)="toggleUpdateSkill()">Update Skill</button>
                            <button id="deleteSkillButton" class="button is-small has-background-danger" (click)="deleteSkill()">Remove</button>
                        </div>
                    </div>
                    <div class="column">
                        <ng-container *ngIf="showSkillDeleteFail">
                            <p class="help has-text-danger">Please select a skill to delete.</p>
                        </ng-container>
                        <ng-container *ngIf="showAddSkill">
                            <input id="addSkillInput" class="input add-input mb-1" placeholder="Skill Name" [(ngModel)]="skillNameAdd" />
                            <p class="help add-skill-help" *ngIf="selectedCategory == null">Please select a category for this skill</p>
                            <button id="skillSubmit" class="button is-small btn-add" (click)="addSkill()">Submit</button>
                        </ng-container>
                        <ng-container *ngIf="showUpdateSkill">
                            <input class="input update-input mb-1" placeholder="Skill Name" [(ngModel)]="skillNameUpdate" />
                            <p class="help update-skill-help" *ngIf="skillNameUpdate == null">Please select a skill for update
                            </p>
                            <button class="button is-small btn-update" (click)="updateSkill()">Save</button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- SKILL EDIT BUTTONS -->

        <!-- CATEGORY EDIT BUTTONS 
        <div class="column">
            <div class="editbottom">
                Category Edit
                <div class="columns">
                    <div class="column">
                        <div class="buttons">
                            <button id="addCategoryButton" class="button is-small btn-add" [ngClass]="showAddCategory? 'is-active' : ''" (click)="toggleAddCategory()">Add
                                Category</button>
                            <button class="button is-small btn-update" [ngClass]="showUpdateCategory? 'is-active' : ''" (click)="toggleUpdateCategory()">Update Category</button>
                            <button id="deleteCategoryButton" class="button is-small has-background-danger" (click)="deleteCategory()">Remove</button>
                        </div>
                    </div>
                    <div class="column">
                        <ng-container *ngIf="showCategoryDeleteFail">
                            <p class="help has-text-danger">Please select a category to delete.</p>
                        </ng-container>
                        <ng-container *ngIf="showAddCategory">
                            <input id="addCategoryInput" class="input add-input mb-1" placeholder="Category Name*" [(ngModel)]="categoryNameAdd" />
                            <textarea id="addCategoryTextarea" class="textarea is-small add-input mb-1" placeholder="Category Description*" [(ngModel)]="categoryDescriptionAdd" cols="30" rows="5"></textarea>
                            <button id="categorySubmit" class="button is-small btn-add" (click)="addCategory()">Submit</button>
                        </ng-container>
                        <ng-container *ngIf="showUpdateCategory">
                            <input class="input update-input mb-1" placeholder="Category Name" [(ngModel)]="categoryName" />
                            <textarea class="textarea update-input is-small mb-1" placeholder="Category Description" [(ngModel)]="categoryDescription" cols="30" rows="5"></textarea>
                            <button class="button is-small btn-update" (click)="updateCategory()">Save</button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- CATEGORY EDIT BUTTONS 

    </div>
</fieldset>-->