<app-navbar></app-navbar>

<div class="container login_form" id="">
    
    <form action="" method="post"> 
        <input type="text" class="form-control input add-input mb-1, login_input" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        <input type="password" class="form-control input add-input mb-1, login_input" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        <button type="button" class="button button_left" id="login">Login</button>
        <button type="button" class="button button_right" id="register" routerLink="/register">Register</button>

    </form>
</div>