<app-navbar></app-navbar>

<div class="container">
    <form action="" method="post">
        <input type="text" class="form-control input add-input mb-1" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        <input type="password" class="form-control input add-input mb-1" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        <button type="button" class="button" id="login">Login</button>
        <button type="button" class="button" id="register">Register</button>

    </form>
</div>