<app-navbar></app-navbar>



    <form action="" method="post" class="container" style="max-width: 500px;">
                 
          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input add-input mb-1" type="text" placeholder="Please Enter your Username"aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          
          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input add-input mb-1" type="password" placeholder="Enter your password" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <p class="help is-danger" style="display: none;">This password is invalid</p>
          </div>      
          <div class="field is-grouped">
            <div class="control">
                <button type="button" class="button is-active btn-add" id="login" (click)="login()">Login</button>
            </div>
            <div class="control">
                <button type="button" class="button is-active btn-add has-background-danger" id="register" routerLink="/register">Register</button>
            </div>
          </div>
        
    </form>
