<div>
  <form>
    <fieldset class="infobox">
      <label for="name">
        <legend>Please enter a name for your Curriculum</legend>
      </label>

      <div class="columns">
        <div class="column">
          <input type="text" class="input input-shadow" id="name" width="400px" maxlength="32" minlength="3" required>
        </div>
        <div class="column is-narrow">
          <button type="button" class="button is-info is-outlined is-rounded" (click)="showCurric2()">OK</button>
        </div>
      </div>

      <label for="show">
        <legend>Or, select one of the options below</legend>
      </label>

      <div class="buttons">
        <button type="button" class="button is-warning is-outlined is-rounded" (click)="showMCurric()">Modify
          Curriculum</button>
        <button type="button" class="button is-danger is-outlined is-rounded" (click)="showDCurric()">Delete
          Curriculum</button>
      </div>
    </fieldset>

    <fieldset *ngIf="visibleCurric2" id="hideMe" class="infobox">
      <legend> Would you like to associate your new Curriculum with any of these Projects?</legend><br>

      <div class="columns">
        <div class="column">
          --Project list--
        </div>
        <div class="column is-narrow">
          <button type="button" id="submit" class="button is-info is-outlined is-rounded" (click)="visualReset()"
            (click)="addCurriculum()">Add Curriculum</button>
        </div>
      </div>
      <br>
      <legend>Or, you can make a new project. </legend>
    </fieldset>
  </form>
</div>


<div>
  <form>
    <fieldset *ngIf="visibleMCurric" class="infobox">
      <label for="name">
        <legend>Which Curriculum do you want to modify?</legend>
      </label>

      <div class="columns">
        <div class="column">
          --Curriculum List--
        </div>

        <div class="column is-narrow">
          <button type="button" class="button is-info is-outlined is-rounded" (click)="showMCurric2()">OK</button>
        </div>
      </div>
    </fieldset>


    <fieldset *ngIf="visibleMCurric2" id="hideMe" class="infobox">
      <legend> Would you like to associate your Curriculum with any of these Skills?</legend><br>

      <div class="columns">
        <div class="column">
          --Project List--
        </div>

        <div class="column is-narrow">
          <input type="submit" id="submit" class="button is-info is-outlined is-rounded" (click)="visualReset()"
            (click)="updateCurriculum()" value="Add New Curriculum">
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div>
  <form>
    <fieldset *ngIf="visibleDCurric" class="infobox">
      <label for="name">
        <legend>Which Curriculum do you want to delete?</legend>
      </label>

      <div class="columns">
        <div class="column">
          --Curriculum List--
        </div>
        <div class="column is-narrow">
          <button type="button" class="button is-info is-outlined is-rounded" (click)="showDCurric2()">OK</button>
        </div>
      </div>
    </fieldset>


    <fieldset *ngIf="visibleDCurric2" id="hideMe" class="infobox">
      <strong><label for="name">
          <legend>Are you sure you want to delete?</legend>
        </label></strong>

      <div class="buttons">
        <button type="submit" id="delete" class="button is-danger is-outlined is-rounded"
          (click)="deleteCurriculum()">Yes, delete</button>
        <button type="button" id="cancel" class="button is-warning is-outlined is-rounded" (click)="visualReset()"
          (click)="deleteCurriculum()">Cancel</button>
      </div>
    </fieldset>
  </form>
</div>


<div>
  <form>
    <fieldset *ngIf="visibleProject" class="infobox">
      <label for="name">
        <legend>Please enter a name for your Project.</legend>
      </label>

      <div class="columns">
        <div class="column">
          <input type="text" class="input input-shadow" id="name" width="400px" maxlength="32" minlength="3" required>
        </div>
        <div class="column is-narrow">
          <button type="button" class="button is-info is-rounded" (click)="showProject2()">OK</button>
        </div>
      </div>

      <label for="show">
        <legend>Or, select one of the options below</legend>
      </label>
      <div class="buttons">
        <button type="button" class="button is-warning is-outlined is-rounded" (click)="showMProject()">Modify
          Project</button>
        <button type="button" class="button is-danger is-outlined is-rounded" (click)="showDProject()">Delete
          Project</button>
      </div>
    </fieldset>

    <fieldset *ngIf="visibleProject2" id="hideMe" class="infobox">
      <legend> Would you like to associate your new Project with any of these Skills?</legend><br>

      <div class="columns">
        <div class="column">
          --Skill List--
        </div>
        <div class="column is-narrow">
          <input type="submit" id="submit" class="button is-info is-outlined is-rounded" (click)="hideProject()"
            value="Add Project">
        </div>
      </div>
      <legend>Or, you can make a new skill.</legend>
    </fieldset>
  </form>
</div>


<div>
  <form>
    <fieldset *ngIf="visibleMProject" class="infobox">
      <label for="name">
        <legend>What project do you want to Modify?</legend>
      </label>
      <div class="columns">
        <div class="column">
          --Project List--
        </div>
        <div class="column is-narrow">
          <button type="button" class="button is-info is-outlined is-rounded" (click)="showDProject2()">OK</button>
        </div>
      </div>
    </fieldset>


    <fieldset *ngIf="visibleMProject2" id="hideMe" class="infobox">
      <legend> Would you like to associate your new Project with any of these Skills?</legend><br>

      <div class="columns">
        <div class="column">
          --Skill List--
        </div>
        <div class="column is-narrow">
          <input type="submit" id="submit" class="utton is-info is-outlined is-rounded" (click)="visualReset()"
            value="New Project">
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div>
  <form>
    <fieldset *ngIf="visibleDProject" class="infobox">
      <label for="name">
        <legend>What project do you want to Delete?</legend>
      </label>
      <!-- <input type="text" id="name" width="400px" maxlength="32" minlength="3" required> -->
      <div class="columns">
        <div class="column">
          --Project List--
        </div>
        <div class="column is-narrow">
          <button type="button" class="button is-info is-outlined is-rounded" (click)="showDProject2()">OK</button>
        </div>
      </div>
    </fieldset>

    <fieldset *ngIf="visibleDProject2" id="hideMe" class="infobox">
      <strong><label for="name">
          <legend>Are you sure you want to delete?</legend>
        </label></strong>

      <div class="buttons">
        <input type="submit" class="button is-info is-danger is-rounded" id="delete" value="Yes, delete">
        <input type="button" class="button is-warning is-outlined is-rounded" id="cancel" (click)="visualReset()"
          value="Cancel">
      </div>
    </fieldset>
  </form>
</div>


<!-- SKILL/CATEGORY HTML FLOW -->
<div>
  <form>
    <fieldset *ngIf="visibleSkills" class="infobox">
      <label for="name">
        <legend>Please enter a name for your Skill </legend>
      </label>

      <div class="columns">
        <div class="column">
          <input type="text" class="input input-shadow" id="name" width="400px" maxlength="32" minlength="3" required>
        </div>
        <div class="column is-narrow">
          <button type="button" class="button is-info is-outlined is-rounded" (click)="showSkills2()">OK</button>
        </div>
      </div>
      <label for="show">
        <legend>Or, select one of the options below</legend>
      </label>

      <div class="buttons">
        <button type="button" class="button is-warning is-outlined is-rounded" (click)="showMSkills()">Modify
          Skill</button>
        <button type="button" class="button is-danger is-outlined is-rounded" (click)="showDSkills()">Delete
          Skill</button>
      </div>
    </fieldset>

    <fieldset *ngIf="visibleSkills2" id="hideMe" class="infobox">
      <legend> Would you like to associate your new Skill with any of these Categories?</legend><br>

      <div class="columns">
        <div class="column">
          --Category List--
        </div>
        <div class="column is-narrow">
          <input type="checkbox" id="box" name="primary key" value="true">dummy
        </div>
        <div class="column is-narrow">
          <input type="submit" id="submit" class="button is-info is-outlined is-rounded" (click)="visualReset()"
            (click)="addSkill()" value="Add Skill">
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div>
  <form>
    <fieldset *ngIf="visibleMSkills" class="infobox">
      <label for="name">
        <legend>What skill do you want to modify? </legend>
      </label>
      <div class="columns">
        <div class="column">
          --Skill List--
        </div>
        <!-- <input type="text" id="name" width="400px" maxlength="32" minlength="3" required> -->
        <div class="column is-narrow">
          <button type="button" class="utton is-info is-outlined is-rounded" (click)="showMSkills2()">OK</button>
        </div>
      </div>
    </fieldset>


    <fieldset *ngIf="visibleMSkills2" id="hideMe" class="infobox">
      <legend> Would you like to associate your new Skill with any of these Categories?</legend><br>

      <div class="columns">
        <div class="column">
          --Category List--
        </div>
        <div class="column is-narrow">
          <input type="checkbox" id="box" name="primary key" value="true">dummy
        </div>
        <div class="column is-narrow">
          <input type="submit" id="submit" class="button is-info is-outlined is-rounded" (click)="visualReset()"
            (click)="updateSkill()" value="Add New Skill">
        </div>
      </div>
    </fieldset>
  </form>
</div>


<div>
  <form>
    <fieldset *ngIf="visibleDSkills" class="infobox">
      <label for="name">
        <legend>What skill do you want to delete?</legend>
      </label>
      <!-- <input type="text" id="name" width="400px" maxlength="32" minlength="3" required> -->

      <div class="columns">
        <div class="column">
          --Skill List--
        </div>
        <div class="column is-narrow">
          <button type="button" class="button is-info is-outlined is-rounded" (click)="showDSkills2()">OK</button>
        </div>
      </div>
    </fieldset>


    <fieldset *ngIf="visibleDSkills2" id="hideMe" class="infobox">
      <strong><label for="name">
          <legend>Are you sure you want to delete?</legend>
        </label></strong>

      <div class="buttons">
        <input type="submit" class="button is-danger is-outlined is-rounded" id="delete" value="Yes, delete"
          (click)="deleteSkill()">
        <input type="button" class="button is-warning is-outlined is-rounded" id="cancel" (click)="visualReset()"
          value="Cancel">
      </div>
    </fieldset>
  </form>
</div>


<div>
  <form>
    <fieldset *ngIf="visibleCatego" class="infobox">
      <label for="name">
        <legend>Please enter a name for a new Category </legend>
      </label>
      <div class="columns">
        <div class="column">
          <input type="text" class="input input-shadow" id="name" width="400px" maxlength="32" minlength="3" required>
        </div>
        <div class="column is-narrow">
          <input type="submit" id="submit" class="button is-info is-outlined is-rounded" value="Add Category"
            (click)="addCategory()">
        </div>
      </div>
    </fieldset>
  </form>
</div>




<!--  
<fieldset class="container is-fluid containerflex borders">
    <legend>Curriculum</legend>
    <div class="columns columnheight row ">-->

<!-- CURRICULUM-EDIT-LIST 
        <fieldset class="column borders boxcolumn is-6-desktop is-12-mobile">
            <legend>Curriculum-Edit</legend>
            <ul class="listofcurriculum">
                <li *ngFor="let curriculum of curriculumList; let i = index">
                    <label class="curriculumLabel" for="curriculum_{{curriculum.curriculumId}}">
                        <input type="radio" id="curriculum_{{curriculum.curriculumId}}" [value]="curriculum"  name="curriculumList" [(ngModel)]="selectedCurriculum" (change)="displayCurriculum()"/>
                        {{ curriculum.curriculumName }}
                    </label>
                </li>
            </ul>
        </fieldset>-->
<!-- CURRICULUM-EDIT-LIST -->

<!-- SKILL-SELECT-LIST 
        <fieldset class="column borders boxcolumn is-6-desktop is-12-mobile">
            <legend>Skill-Select</legend>
            <ul>
                <button class="button is-small btn-light-gray" (click)="resetSkillActive()">Clear Selection</button>
                <li *ngFor="let skill of skillList; let i = index">
                    <label class="skillLabel" for="skill_{{skill.skillId}}">
                        <input type="checkbox" id="skill_{{skill.skillId}}" [value]="skill" [checked]="skill.isActive" name="skillList" (change)="toggleSkill(skill.skillId)"/>
                        {{ skill.skillName }}
                    </label>
                </li>
            </ul>
        </fieldset>-->
<!-- SKILL-SELECT-LIST 

    </div>
    <div class="columns row">-->

<!-- CURRICULUM-EDIT-BUTTONS 
        <div class="column">
            <div class="editbottom">
                <div class="columns">
                    <div class="column">
                        <div class="buttons">
                            <div class="buttons">
                                <button id="addCurriculumButton" class="button is-small btn-add" [ngClass]="showAddCurriculum? 'is-active' : ''" (click)="toggleAddCurriculum()">Add Curriculum</button>
                                <button id="updateCurriculumButton" class="button is-small btn-update" [ngClass]="showUpdateCurriculum? 'is-active' : ''" (click)="toggleUpdateCurriculum()">Update Curriculum</button>
                                <button id="deleteCurriculumButton" class="button is-small has-background-danger" (click)="deleteCurriculum()">Remove</button>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <ng-container *ngIf="showCurriculumDeleteFail">
                            <p class="help has-text-danger">Please select a Curriculum to delete.</p>
                        </ng-container>
                        <ng-container *ngIf="showAddCurriculum">
                            <input id="addCurriculumTextBox" class="input add-input mb-1" placeholder="Curriculum Name" [(ngModel)]="curriculumNameAdd" />
                            <p class="help add-curriculum-help" *ngIf="curriculumNameAdd == '' || curriculumNameAdd == null">Please select a Name for this Curriculum</p>
                            <p class="help add-curriculum-help" *ngIf="selectedSkillList.length==0">Please select a Skill for this Curriculum</p>
                            <button id="submitAdd" class="button is-small btn-add" (click)="addCurriculum()">Submit</button>
                        </ng-container>
                        <ng-container *ngIf="showUpdateCurriculum">
                            <input id="updateCurriculumTextBox" class="input update-input mb-1" placeholder="Curriculum Name" [(ngModel)]="curriculumNameUpdate" />
                            <p class="help update-curriculum-help" *ngIf="curriculumNameUpdate == null">Please select a curriculum for update</p>
                            <button id="submitUpdate" class="button is-small btn-update" (click)="updateCurriculum()">Update</button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>-->
<!-- CURRICULUM-EDIT-BUTTONS 

    </div>
</fieldset>-->