   
   .containerflex {
     margin-top: 20px;
     min-height: 80vh;
     height: auto;
 }

 .columnheight {
     min-height: 100%;
 }

 .borders {
     border: 1px solid black;
 }

 .boxcolumn {
     margin-top: 10px;
     height: auto;
     margin-right: 1px;
     margin-left: 1px;
 }

 .editbottom {
     width: 100%;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 8px;
     font-family: Futura-Book, sans-serif;
     color: #474C55;
 }

 .skillLabel {
     margin-right: 4px;
 }

 .categoryLabel {
     margin-left: 4px;
 }

 .add-input {
     border-color: #FCB414;
 }

 .update-input {
     border-color: #72A4C2;
 }

 legend {
     font-size: 1.1rem;
     font-family: Futura-Bold, sans-serif;
     color: #474C55;
 }

 .buttons button, .btn-add {
    font-family: Futura-Book, sans-serif;
    letter-spacing: 1.1px;
    font-size: 13px;
    color: white;
}

 .btn-add {
    background-color: #FCB414;
    color: white;
    letter-spacing: 1.1px;
    font-size: 13px;
 }

 .btn-update {
    background-color: #72A4C2;
    color: white;
    letter-spacing: 1.1px;
    font-size: 13px;
 }

 .btn-light-gray {
     background-color: #B9B9BA;
     color: #474C55;
 }

 .btn-view {
    background-color: #F26925;
 }
/*
 .column button {
     border-radius: 4px;
 }

 .editbottom button {
     border-radius: 4px;
 }

 .add-visualization-help {
     color: #FCB414;
 }

 .update-visualization-help {
     color: #72A4C2;
 }

 button {
     transition: 0.25s;
 }

 .buttons button:hover, .btn-add:hover, .btn-update:hover {
    box-shadow: 0 0.6em 0.75em -0.4em #474C55;
    transform: translateY(-0.10em);
}

.buttons button:active, .btn-add:active, .btn-update:active {
    box-shadow: 0 0 0 0;
    transform: translateY(0); 
} 
*/

/* New CSS */
.myButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #72a3c2 5%, #6293b2 100%);
	background-color:#72a3c2;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f26925 5%, #72a3c2 100%);
	background-color:#f26925;
}
.myButton:active {
	position:relative;
	top:1px;
}

.header{
	position:absolute;
	left:79%;
	display:flex;
}

.infobox {
	float:left;
	width:50%;
	display:flex;
	align-content: center;
    justify-content: flex-end;
    flex-direction: column;
	margin:1%;
}
.floatright {
	float:right;
}

.input-btn{
	display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mod-del-btn{
	display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
