.myButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #72a3c2 5%, #6293b2 100%);
	background-color:#72a3c2;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f26925 5%, #72a3c2 100%);
	background-color:#f26925;
}
.myButton:active {
	position:relative;
	top:1px;
}

.header{
	position:absolute;
	left:79%;
	display:flex;
}

.infobox {
	float:left;
	width:50%;
	display:flex;
	align-content: center;
    justify-content: flex-end;
    flex-direction: column;
	margin:1%;
}
.floatright {
	float:right;
}
.container{
	margin-top: 30px;
}
