@import 'bulma/css/bulma.css';
@import '../src/assets/font-style.css';

.login_input{
    margin-bottom: 20px;
}

.button_left{
    float: left;
}

.button_right{
    float:right;
}

.button{
    background-color: rgb(72, 199, 22);
}

.login_form {
    max-width: 500px !important;
    margin-top: 10%;
}